@import "../theme/variable";
@import "../theme/reset";
@import "../theme/typography";
@import "../theme/utility";

.btn-custom {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 32px;
  text-transform: capitalize;
  border-radius: 5px;
  transition: 0.3s;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

.btn-custom-primary {
  border: 1px solid var(--primaryColor);
  background: var(--primaryColor);
  color: #fff;
}

.btn-custom-primary:hover {
  color: var(--primaryColor);
  background: #fff;
  border: 1px solid #fff;
}

.btn-custom-primary-reverse {
  color: var(--primaryColor);
  background: #fff;
  border: 1px solid #fff;
}

.btn-custom-secondary {
  border: 1px solid var(--primaryColorTwo);
  background: var(--primaryColorTwo);
  color: #fff;
}

.btn-custom-secondary:hover {
  color: var(--primaryColorTwo);
  background: transparent;
}

.btn-custom-secondary-reverse {
  border: 1px solid var(--primaryColorTwo);
  background: transparent;
  color: var(--primaryColorTwo);
}

.btn-custom-secondary-reverse:hover {
  color: #fff;
  background: var(--primaryColorTwo);
}

.btn-custom-light {
  border: 1px solid #fff;
  color: #fff;
}

.btn-custom-light:hover {
  border: 1px solid #fff;
  background: #fff;
  color: #2d2d2d;
}

.btn-custom-main {
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
}

.btn-custom-main:hover {
  color: #fff;
  border: 1px solid var(--primaryColor);
  background: var(--primaryColor);
}

.btn-arrow {
  position: relative;
}

.btn-arrow:after {
  position: absolute;
  content: "\f178";
  font-family: "FontAwesome";
  margin-left: 3px;
}

.back-home-btn .btn-custom-primary:hover {
  border: 1px solid var(--primaryColor);
}

.navbar-toggler {
  padding: 2px 6px;
  font-size: 16px;
}