* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  background: #fff;
  color: #000;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 16px;
  text-rendering: optimizeLegibility;
}

body,
ul,
ol,
dl {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

article,
aside,
audio,
footer,
header,
nav,
section,
video {
  display: block;
}