:root {
  --primaryColor: #e00768;
  --primaryColorTwo: #65258a;
  --secondaryColor: #2b2c34;
  --secondaryColorTwo: #4a4a4a;

  /* Alerts */
  --successColor: #37c675;
  --LinkColor: #3eaeff;
  --warningColor: #ff9700;
  --errorColor: #fe5050;

  /* Background Color */
  --bgPrimary: #e00768;
  --bgSecondary: #65258a;
}