.blog-details-page .single-blog {
  text-align: left;
}

.blog-details {
  color: #4d4d4d;
  text-align: justify;
}

.bd-sm-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.blog-share {
  display: flex;
  align-items: baseline;
}

.blog-share h3 {
  width: 150px;
  font-size: 25px;
  color: #4d4d4d;
}

.share-collection {
  display: flex;
}

.share-collection li {
  margin-right: 20px;
}

.share-collection li:last-child {
  margin-right: 0;
}

.share-collection li a {
  border: 0;
  color: #4d4d4d;
  width: auto;
  height: auto;
  line-height: auto;
  font-size: 18px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  transition: 0.6s;
}