.community-section {
  background-image: url('../../../assets/img/community-bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 100px 0;
}

.community-section .st-title,
.community-section .st-desc {
  color: #fff;
}