.error-title {
  font-weight: 700;
  font-size: 55px;
  line-height: 65px;
  text-align: center;
  text-transform: capitalize;
  color: #1E1E1E;
  margin-bottom: 20px;
}

.error-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #424242;
  margin-bottom: 40px;
}

.btn-custom-primary {
  border-radius: 30px;
}
