.ourselves-section {
  padding: 100px 0;
}

.ourselves-video-wrapper {
  position: relative;
}

.ov-img-wrapper {
  height: 600px;
  -moz-transform: skew(-5deg, 0deg);
  -webkit-transform: skew(-5deg, 0deg);
  -o-transform: skew(-5deg, 0deg);
  -ms-transform: skew(-5deg, 0deg);
  transform: skew(-5deg, 0deg);
  width: 80%;
  position: relative;
  margin-left: 50px;
}

img.ov-img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.pb-before-bg {
  position: absolute;
  content: "";
  width: 100%;
  height: 110%;
  background: antiquewhite;
  z-index: -1;
  left: -50px;
  top: -28px;
}

.play-btn-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Video Play Start */
.video-play-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-btn {
  width: 80px;
  height: 80px;
  background: radial-gradient(rgba(255, 255, 255, 1) 60%,
      rgba(255, 255, 255, 1) 62%);
  border-radius: 50%;
  position: relative;
  display: block;
  box-shadow: 0px 0px 25px 3px rgb(255 255 255);
}

/* triangle */
.play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  transform-origin: center center;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 20px solid var(--primaryColor);
  z-index: 100;
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* pulse wave */
.play-btn:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate1 2s;
  animation: pulsate1 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.75);
  top: -25%;
  left: -25%;
  background: rgba(198, 16, 0, 0);
}

@-webkit-keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75),
      0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;
  }
}

@keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75),
      0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;
  }
}

/* Video Play End */

/* Tabs Start */
.or-tabs .nav-item {
  margin-right: 15px;
}

.or-tabs .nav-pills .nav-link {
  border-radius: 0;
  border-bottom: 2px solid var(--primaryColor);
  color: #2d2d2d;
}

.or-tabs .nav-pills .nav-link.active {
  color: #fff;
  background-color: var(--bgPrimary);
  border-radius: 5px;
}

.or-tabs .tab-content {
  min-height: 320px;
}

.or-title {
  font-weight: 700;
}

.or-btn-wrapper {
  display: flex;
  align-items: baseline;
}

.or-btn-wrapper .btn-custom-main {
  margin-right: 25px;
}

.or-btn-wrapper p span {
  display: inline-block;
  margin-right: 10px;
}

/* Tabs End */


/* Ourselves 2 Start */
.os-left-img img {
  height: 530px;
  object-fit: cover;
  border-radius: 20px;
}

.osr-collection li:before {
  content: "\f0da";
  font-family: "FontAwesome";
  float: left;
  margin-left: -1.5em;
  color: var(--primaryColor);
}

.osr-collection li {
  padding-left: 25px;
  line-height: 40px;
}
/* Ourselves 2 End */