img.pricing-img {
  margin-bottom: 20px;
}

.pricing-title {
  font-weight: 500;
  margin-bottom: 15px;
}

.pricing-amount {
  color: var(--primaryColorTwo);
  font-weight: 800;
}

.pricing-details-collection.mb-5 li {
  line-height: 40px;
}

.single-pricing {
  padding: 40px 80px;
  border-radius: 30px;
  transition: 0.3s;
  background: #fff;
}

.single-pricing:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.pricing-details-collection {
  min-height: 200px;
}

.single-pricing hr {
  margin: 2rem 0;
  opacity: 0.15;
}
