.material-scrolltop.reveal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--primaryColor) !important;
  z-index: 999999;
}

.material-scrolltop::before {
  background: var(--primaryColor) !important;
}

.material-scrolltop.reveal:hover {
  cursor: pointer;
}

.material-scrolltop.reveal i {
  font-size: 40px;
  color: #fff !important;
}
